<div class="container">
  <h1 class="text-center mb-4">TODO List App</h1>
  <div class="row">
    <!-- Add task form -->
    <div class="flex-row-reverse d-flex mb-3">
      <div class="col-3">
        <select class="form-select" [(ngModel)]="taskFilter" aria-label="Default select example">
          <option value="all" selected>All</option>
          <option value="completed">Completed</option>
          <option value="active">Active</option>
        </select>
      </div>
    </div>
    <form>
      <button type="button" class="btn btn-primary mb-3" (click)="openModal(Modal)">Add Task</button>
    </form>

    <!-- Task list -->
    <div class="row">
      <ng-container *ngFor="let task of tasks | taskFilter : taskFilter">
        <div class="col-4 task--edit">
          <app-todo-item click-stop-propagation (taskEdit)="openEditTask(Modal,task)" (taskDeleted)="deleteTask(task)" (taskUpdated)="updateFilter($event)"
            [task]="task"></app-todo-item>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div #Modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{taskActionText}} Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input [(ngModel)]="titleTask" type="text" class="form-control" id="exampleFormControlInput1"
            placeholder="Task Title">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Description</label>
          <input [(ngModel)]="titleDescription" type="text" class="form-control" id="exampleFormControlInput1"
            placeholder="task Description">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
          (click)="taskActionText === 'Add' ? addTask(): editTask(actualtask)">{{taskActionText}}</button>
      </div>
    </div>
  </div>
</div>